.reportsTitle{
    /* border: solid red 1px; */
    color: #1B1464;
    font-size: 2.5vw;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    margin-top: 2vw;
}
.form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: solid rgb(0, 0, 0) 1px; */
    padding-left: 2.5%;
    margin-top: 2%;
}
.subContainer{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    /* border: solid rgb(0, 0, 0) 1px; */
    width: 38.5%;
    min-width:550px

}
.label{
    /* border:solid red 1px; */
    width: 10vw;
    min-width: 140px;
    display: flex;
    justify-content: center;
    margin-top:20px
    
}
.origin_destination{
    display:flex;
   
    /* border: solid red 1px; */
    /* min-width:10vw; */
    /* flex-direction: column;
    align-items: center; */
    /* flex-grow: 1; */


}
.sender_receiver{
    display:flex;
    
    /* border: solid rgb(25, 87, 180) 1px; */
    /* min-width:10vw; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* flex-grow: 1; */
}
.origin_destination{
    display:flex;
    /* border: solid rgb(255, 255, 0) 1px; */
    /* min-width: 10w; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-grow: 1; */
}
.from_to{
    display:flex;
    /* border: solid rgb(12, 198, 33) 1px; */
    /* min-width:10vw; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* flex-grow: 1; */
}
.status_barcode_qr{
    /* border: solid rgb(198, 105, 12) 1px; */
    display: flex;
    /* flex-direction: column; */
    width:60%;
    min-width: 730px;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /* flex-grow: 1; */
}
.input{
    width: 10vw;
    min-width: 140px;
    /* border: solid rgb(0, 0, 0) 1px; */
   
}
.buttons{
    display: flex;
    /* border: solid rgb(198, 105, 12) 1px; */
    justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
  position: relative;
  left: -1%;
  
    
}
.button_compare{
    background-color: #fafafa !important;
    border: 0.15vw solid #1B1464 !important;
    color: #1B1464  !important;
}
.button_clear{
    background-color: #fafafa !important;
    border: 0.15vw solid red !important;
    color: red !important;
}

.disabled_button {
    background-color: #ccc; /* Color de fondo gris para el botón deshabilitado */
    
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
    /* Otros estilos adicionales para el botón deshabilitado si es necesario */
  }
  .error_text {
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    /* margin-top: 2%; */
    height: 2vw;

}
/* TABLA */
.message1 {
    margin-top: 4vw;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: #1B1464;
    padding: 1%;
    font-family: 'Quattrocento Sans', sans-serif;
   
}
/* HEADER DE LA TABLA */
.theader{
    text-align: center;
    font-size: 1vw !important;
    color:#00ABC8;;
    background-color: #FAFAFA;
    border: none !important;  
}
td{

padding:0 !important;

}
.headerData{  
 text-align: center; 
 border-bottom: solid rgb(216, 216, 216) 1px;
 cursor: pointer;
 height: 3vw;

}
.moveDown{
    display: flex;
    justify-content: center;
    align-items: center;
 /* position: relative;
 top: 25px; */
 font-size: 0.9vw !important;
 color:#1B1464;
 text-align: center;
 height: 5vw !important;
 

}
.departure_arrival{
    font-size: 0.9vw !important;
    color:#1B1464;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
    height: 5vw !important;
}
.status{
    /* border: solid red 1px; */
}
.rombo {
    width: 2vw;
    position: relative;
    top: 1.5vw
}
.reports{
    /* border: solid red 1px; */
    
}
.checkBox{
    position: relative;
    top: 1.5vw;
    width: 1.5vw;
    height: 1.5vw !important;
}

/* Dropdown */
.dropdownShipments{
  
 width: 100%;
height: 50vw;
/* border: solid red 1px; */
background-color: #FAFAFA;
}
.temp_acc_check_container{
    display: flex;
    justify-content: space-between;
    /* border: solid rgb(255, 60, 0) 1px; */
}
.tempGraphContainer{
    width: 38%;
    height: 35vw;
    /* border: solid rgb(255, 187, 0) 1px; */
}
.accelerationGraphContainer{
    width: 48%;
    height: 35vw;
    /* border: solid rgb(208, 0, 255) 1px; */
}
.checkpointsContainer{
    width: 24%;
    display: flex;
    height: 35vw;
    /* border: solid rgb(111, 255, 0) 1px; */
  
}
.commentsContainer{
    width: 100%;
    height: 15vw;
    /* border: solid rgb(98, 96, 64) 1px; */
}