/* header cards dashboard */
.spinner {
    color: rgb(14, 66, 186);
    border-width: 3px;

}
.statsTitle{
    /* border: solid red 1px; */
   margin-left: 1vw;
   padding-top: 1%;

}
.progressBarContainer{
    padding-top: 10%;
    /* border: solid red 1px; */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.progressBar{
   margin-bottom: 1vw;
}
.barra-fondo-warning{
    background-color: #fb6340;
    
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
  }