/* background image */
#root { 
    
  overflow: auto;
}
body {

  background-image: url(../../../../isotipo.jpeg);
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  /* padding-right: 0 !important; */
   min-height: 100vh;
 /* border: solid red 1px; */


}
/* header cards dashboard */
.spinner {
    color: rgb(14, 66, 186);
    border-width: 3px;
   

}
.statsTitle{
    /* border: solid red 1px; */
   margin-left: 1vw;
   padding-top: 1%;

}
.progressBarContainer{
    padding-top: 10%;
    /* border: solid red 1px; */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.progressBar{
   margin-bottom: 1vw;
}
.barra-fondo-warning{
    background-color: #5e72e4;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    /* border:solid rgb(34, 0, 255) 1px; */
    align-items: center;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
   
}
.navText {
    display: flex;
    justify-content: space-between;
   
    /* border:solid red 1px; */
    align-items: center;
    justify-content: center;
  }

  .btn-last-checkpoint{
    border: none;
    background-color: transparent;

  }
  .btn-last-checkpoint:hover {
    color: #5e72e4;
    text-decoration: underline;
  }
.custom-modal{
  /* border: solid red 1px; */
  height: 50vw;
}
.compare_modal{
  border: solid red 1px;

}
.vertical-timeline-element.custom-line {
  min-height: 2.5vw; /* Ajusta la altura de la línea según lo necesario */
  
}

.circle-icon {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}