/* header cards dashboard */
.spinner {
    color: rgb(14, 66, 186);
    border-width: 3px;

}
.statsTitle{
   margin-left: 1vw;

}
.progressBarContainer{
    /* border: solid red 1px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progressBar{
   margin-bottom: 1vw;
}
.barra-fondo-warning{
    background-color: #fb6340;
}